body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    padding: 20px;
}

#results {
    padding: 20px;
}

.score {
    display: flex;
    flex-direction: row;
}